/* Overall */

html {
  font-size: 18px;
  color: white;
  display: block;
  font-family: Helvetica;
}


/* Header */

.background_header {
  background-color: black;
}

header {
  background-color: black;
  padding: 0.66rem 0.5rem;
  display: flex;
  margin: 0 auto;
  align-items: center;
  max-width: 960px;
}

header img {
  padding-right: 1rem;
  height: 1.5rem;
}


/* New Arrival */

.background_new_arrival {
  background-image: url(../Photos/moto.jpeg);
  height: 25rem;
  background-size: cover;
}

.something {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  padding-top: 9rem;
}

.new_arrival {
  background-color: black;
  display: flex;
  font-weight: bold;
  flex-direction: column;
  width: 20rem;
  position: relative;
  padding: 2rem 3rem;
}

.new {
  display: block;
  padding-bottom: 1.25rem;
}

.sport {
  display: block;
  font-size: 2rem;
}


/* Navigation */

.background_nav {
  background-color: firebrick;
}

.show {
  padding: 0.75rem 0;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
}

.hide_tablet_nav {
  display: none;
}


/* Products + Info */

.products_and_info {
  display: flex;
  flex-flow: column;
  padding-top: 3rem;
  padding-bottom: 4rem;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
}


/* Products */

.products {
  display: flex;
  padding-bottom: 3rem;
  position: relative;
}

.products_example {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
  width: 30%;
}

.products_example img {
  width: 8rem
}

.width {
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  padding: 2rem 0px;
}

.products_example span {
  display: flex;
  background-color: black;
  justify-content: center;
  padding: 0.5rem;
}


/* Info */

.info {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
}

.info_example {
  display: flex;
  flex-flow: column;
  width: 35%;
}

.info_title {
  background-color: black;
  text-align: left;
  padding: 1rem 2rem;
}

.info_info {
  color: black;
}


/* Footer */

.background_footer {
  background-color: black;
  padding: 5rem 0;
}

footer {
  max-width: 960px;
  display: flex;
  text-align: left;
  margin: 0 auto;
}


/* Media Query: Max-Width 1024px */

@media only screen and (max-width: 1024px) {
  /* Navigation */
  .hide_tablet_nav {
    padding: 0.75rem 0;
    max-width: 960px;
    display: flex;
    position: relative;
    margin: 0 auto;
    justify-content: center;
  }
  .show {
    display: none;
  }
  /* Products */
  .hide_tablet_products {
    display: none;
  }
  .products_example {
    width: 47%;
  }
}


/* Media Query: Max-Width 470px */

@media only screen and (max-width: 470px) {
  /* New Arrival */
  .background_new_arrival {
    height: 15rem;
  }
  .something {
    padding-top: 10rem;
  }
  .new_arrival {
    width: 100%;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1.73rem;
    padding-left: 2rem;
  }
  .new {
    padding-bottom: 0.6rem;
    font-size: 0.77rem;
  }
  .sport {
    font-size: 1rem;
  }
}
